@import "tailwindcss";

:root {
    /* [BASIC] */
    --background: #ffffff;
    --alt-background: #e5c1b6;
    --foreground: #171717;
    --alt-foreground: #ffffff;
    --bg-banner: #4e1229;

    /* [TEXT] */
    --muted: #808080;

    /* [BUTTON] */
    --fg-primary-button: #ffffff;
    --bg-primary-button: #4e1229;
    --fg-secondary-button: #ffffff;
    --bg-secondary-button: #e5c1b6;

    /* [NOTIF] */
    --danger: #ff0000;
    --warning: #ffa500;
    --success: #008000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
